@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI",
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  ;
}

body {
  min-height: 100vh;
  background: #0054a6;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;

}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #0054a6;
  border-left: 10px solid #0054a6;
  overflow: hidden;
  transition: 0.5s;

}

.navigation .header {
  bottom: 20px;
}

.navigation.active {
  width: 70px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.navigation ul li:hover,
.navigation ul li.hoverted {
  background: #f5f5f5;

}

.navigation ul li:nth-child(1) {
  margin-bottom: 30px;
  margin-top: 20px;
  pointer-events: none;
}

.navigation ul li:hover a,
.navigation ul li.hoverted a {
  color: #333;
}

.navigation ul li a .icon img {
  width: 50px;
  height: 50px;
  margin: 1px -6px;
}

.navigation ul li:hover .icon .fa {
  color: #bd0f0f;
}

.navigation ul li:hover a::before,
.navigation ul li.hoverted a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  background: transparent;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #f5f5f5;
}

.navigation ul li:hover a::after,
.navigation ul li.hoverted a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  background: transparent;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #f5f5f5;
}


.navigation ul li.active {
  background: #f5f5f5;
  margin-left: 5px;

}

.navigation ul li.active a {
  color: #333;
}

.navigation ul li.hoverted .icon .fa {
  color: #bd0f0f;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.list {
  font-size: 13px;
}

.copyright {
  margin-top: 10px;
  color: rgb(230, 224, 224);
  font-size: 0.6em;
  text-align: start;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 45px;
  line-height: 50px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.navigation ul li strong{
  font-size: 20px;
}
.navigation ul li .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

.navigation ul li .title-1 {
  position: relative;
  display: block;
  padding: 0 10px;
  text-align: start;
  margin-top: 25px;
  margin-left: -110px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #535050c5;
}
.title h2 {
  color: gray;
}
.title h5 {
  margin-top: -30px;
  font-size: 15px;
  font-weight: 500;
}

.title p {
  margin-top: -40px;
  font-style: italic;
  float: left;
  color: #726d6d;
}

.navigation ul li img {
  width: 60px;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}
.main{
 position: absolute;
 width: calc(100% - 300px);
 left: 300px;
 min-height: 100vh;
 background-color: #f5f5f5;
 transition: 0.5s;
 border-top-left-radius: 40px;
 border-bottom-left-radius:13px;
}

.main.active{
 width: calc(100% - 70px);
 left: 70px;
}
.main .topbar{
 width: 100%;
 background: #f5f5f5;
 height: 90px;
 padding: 0 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 border-top-left-radius: 50px;
}
.main .topbar .toggle .title{
 display: block;
 position: relative;
 font-size: 0.8em;
 padding: 0 10px;
 height: 60px;
 line-height: 60px;
 white-space: nowrap;
 margin: -20px 50px;
}
.toggle{
 position: relative;
 width: 60px;
 height: 60px;
 cursor: pointer;
 display: flex;
}
.toggle::before{
 content: '\f0c9';
 font-family: fontAwesome;
 position: absolute;
 width: 100%;
 height: 100%;
 line-height: 60px;
 font-size: 24px;
 text-align: center;
 color: rgb(204, 12, 12);
}
/* header */
.user{
  display: flex;
  align-items: center;
}
.user img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.user small {
  display: inline-block;
  color: rgb(190, 184, 184);
  margin-top: -10px;
}
.notifi{
  display: flex;
}
/* search */
.search{
 position: relative;
 width: 300px;
 margin-left: 273px;
 margin-right: 35px;
 display: flex;

}

.search input{
 width: 100%;
 height: 40px;
 border-radius: 40px;
 padding: 5px 20px;
 outline: none;
 border: none;
 background-color: gainsboro;
}
.search .fa{
 position: absolute;
 right: 15px;
 top: 12px;
 color: #c92525;
 cursor: pointer;
}
/* user-img */
.user{
  display: flex;
  align-items: center;
}
.user img{
  border-radius: 50%;
  margin-right: 1rem;
}
.user small{
  display: inline-block;
  color: rgb(190, 184, 184);
}
.notifi ul li{

  margin-right: 30px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  line-height: 48px;
  display: block;
  font-size: 20px;
  transition: all 0.5s;
  text-align: center;
  background: #fff;
}
.notifi span{
  position: absolute;
  font-size: 0.625rem;
  border-radius: 50% !important;
  right:auto;
  top: auto;
  font-weight: normal;
  height: 25px;
  width: 25px;
  line-height: 1.1rem;
  padding: 0.3125rem;
  font-size: 0.875rem;
  background: #c92525;
  color: #fff;
  box-shadow: 2px 2px gray;
}

/* styling navlist */
#navlist {
 background-color: #0074D9;
 position: absolute;
 width: 100%;

}
.topnav {
  overflow: hidden;
  margin: 5px auto;
  width: 95%;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-right: 1px solid rgb(236, 230, 230);
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(10, 10, 10);
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn .fa {
  margin-left: 5px;
  cursor: pointer;
}

.dropdown .dropbtn .fas {
  color: #bd0f0f;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(7, 7, 7, 0);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background: rgb(248, 240, 240);
}

.dropdown-content a:hover {
  color: #333;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.topnav a:hover {
  background: rgb(240, 240, 240);
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/*  */

.topnav input[type=text] {
 /* padding: 0px 6px; */
 margin: 5px;
 font-size: 13px; 
 width: 200px;
 border: none;
 outline: none;
 padding: 5px 20px;
}

.topnav .search-s button {
 float: right;
 margin: 5px 16px;
 background: rgb(41, 61, 241);
 width: 120px;
 height: 30px;
 text-align: center;
 border: none;
 cursor: pointer;
 border-radius: 40px;
 color: #fff;
}
.topnav .search-s label input{
  outline: none;
}

/* card-box */
.cardBox{
 position: relative;
 width: 100%;
 padding: 20px;
 display: grid;
 margin: 20px auto;
 grid-template-columns: repeat(5,1fr);
 grid-gap: 20px;
 border-radius: 20px;
}
.cardBox .card{
  position: relative;
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 20px;
}
.cardBox .card .numbers{
 position: relative;
 font-size: 0.7em;
 font-weight: 500;
 width: 40px;
 height: auto;
 margin: -8px auto;
 text-align: center;
 border-radius: 20px;
 background: rgb(230, 26, 26);
 color: #fff;

}
.cardBox .card .cardName{
  color: #0c79e7;
 margin-top: 20px;
 font-size: 0.9em;
 font-weight: 800;
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
}
.price{
  text-align: center;
  bottom: 10px;
}
.price h5{
  color: #c92525;
}
.price .buy{
  border-radius: 50px;
  margin-top: 10px;
  width: 130px;
  height: 30px;
  border: solid ;
  color: #fff;
  background: #0054a6;
}

.cardBox .card .iconBox{
 font-size: 1.5em;
 color: rgb(241, 241, 241);
 text-align: center;
}
.card-header:first-child {
  border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}
p {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
  color: #756c6ca2;
}
a{
  text-decoration: none;
  color: #03bd6f;
}
h6{
  margin: 30px auto;
  font-size: 10px;
  text-align: center;
}
.border-0{
  border-width: 0;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
.iconBox ul li{
  margin: 0 auto;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  color: var(--primary);
  line-height: 48px;
  display: block;
  font-size: 20px;
  transition: all 0.5s;
  text-align: center;
}
.iconBox ul li.b1{
  background: rgb(57, 159, 255);
}
.iconBox ul li.b2 {
  background: rgb(55, 180, 180);
}
.iconBox ul li.b3 {
  background: rgb(115, 216, 84);
}
.iconBox ul li.b4 {
  background: rgb(57, 159, 255);
}
.iconBox ul li.b5 {
  background: rgb(252, 187, 46);
}
/* pagination */
.pagination {
  text-align: center;
  margin: 40px 30px 8px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: #0074D9;
  text-decoration: none;
  font-size: 1em;
  line-height: 45px;
}
.page-content {
  width: 245px;
  display: flex;
  font-size: 16px;
  border-radius: 40px;
  outline: none;
  background: #cae7ec;
}
.page-content a {
  padding: 10px 20px;
  font-size: 10px;
  font-weight: 500;
}
.page-content a.active{
  background: rgb(216, 25, 51);
  color: rgb(255, 255, 255);
 border-radius: 50px;
}

.previous-page,
.next-page {
  background: #fcfcfc;
  width: 95px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}
/* Responsive navbar */
@media(max-width: 992px) {
  .navigation{
    left: -300px;
  }
  .navigation.active{
    width: 300px;
    left: 0;
  }
  .main{
    width: 100%;
    left: 0;
  }
  .main.active{
    
    left: 300px;
  }
  .cardBox{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width: 480px){
  .cardBox{
    grid-template-columns: repeat(1,1fr);
  }
  .navigation{
    width: 100%;
    z-index: 1000;
    left: -100%;
  }
  .navigation.active{
    width: 100%;
    left: 0;
  }
  .main,
  .main.active{
    width: 100%;
    left: 0;
  }
  .toggle.active{
    z-index: 10000;
    right: 0;
    left: initial;
    position: fixed;
  }
  .toggle.active::before{
    color: #fff;
  }
}
/* Responsive nav-search-bar */
@media screen and (max-width: 600px) {

 .topnav a:not(:first-child),
 .dropdown .dropbtn {
  display: none;
 }

 .topnav a.icon {
  float: right;
  display: block;
 }
}

@media screen and (max-width: 600px) {
 .topnav.responsive {
  position: relative;
 }

 .topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
 }

 .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
 }

 .topnav.responsive .dropdown {
  float: none;
 }

 .topnav.responsive .dropdown-content {
  position: relative;
 }

 .topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
 }
}
@media screen and (max-width: 600px) {
 .topnav .search-container {
  float: none;
 }

 .topnav a,
 .topnav input[type=text],
 .topnav .search-container button {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
 }

 .topnav input[type=text] {
  border: 1px solid #ccc;
 }
}
.container-table table {
  border: none;
  border-collapse: collapse; 
  border-radius: 20px
   
}
.container-header {
  padding: 5px 20px;
}

table {
  margin: 0 10px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

 th,
 td {
  text-align: left;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 10px;
 }

 tr:nth-child(1) {
  background-color: black
 }

 tr:nth-child(even) {
  background-color:#C0C0C0;
}
 th {
  background-color: #0054a6;
  color: white;
 }

 .buttom-header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btn-contest {
  width: 8%;
  border-radius: 25px;
  background-color: #0054a6;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.btn-update {
  width: 13%;
  border-radius: 25px;
  background-color: orange;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.security {
  width: 10%;
  border-radius: 25px;
  background-color: red;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.text {
  width: 5%;
  border-radius: 25px;
  color: white;
  font-size: 10px;
  height: 40px;
}
.btn-history {
  width: 15%;
  border-radius: 25px;
  background-color: blue;
  color: white;
  font-size: smaller;
  height: 40px;
}
.btn-result {
  width: 15%;
  border-radius: 25px;
  background-color: blue;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.btn-figure {
  width: 15%;
  border-radius: 25px;
  background-color: blue;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.edit {
  background-color: blue;
  border-radius: 20px;
  width: 20%;
  margin-left: 20px;
  color: white;
  height: 30px;
}
.manager {
  background-color: blue;
  border-radius: 20px;
  width: 20%;
  margin-left: 20px;
  color: white;
  height: 30px;
}
.join {
  background-color: blue;
  border-radius: 20px;
  width: 20%;
  margin-left: 20px;
  color: white;
  height: 30px;
}
.survey {
  background-color: blue;
  border-radius: 20px;
  width: 20%;
  margin-left: 20px;
  color: white;
  height: 30px;
}
.btn-history {
  width: 15%;
  border-radius: 25px;
  background-color: blue;
  color: white;
  font-size: smaller;
  height: 40px;
  border: none;
}
.icon-center {
  margin:auto;
  vertical-align:super;
  text-align: center;
}
.title  span {
 margin: 10px;
}
.user h4 {
  color: rgb(204, 12, 12);
}
.btn-search {
 height: 40px;
 border-radius: 40px;
 padding: 0;
 outline: none;
 border: none;
 background-color: white;
}
.btn-search .fa {
 margin-right: 20px;
 color: rgb(204, 12, 12);
}
.btn-update .fa {
   margin-right: 5px;
 }
.security .fa {
  margin-right: 5px;
}
.btn-history .fa {
  margin-right: 5px;
}
.btn-result .fa {
  margin-right: 5px;
}
.btn-figure .fa {
  margin-right: 5px;
}
.icon-left .fa {
  margin-left: 5px;
}